body{
    margin: 0 30px;
}

h1{
    color:#0b5394;
    font-family: Georgia;
    background: #f5f2f0
}

h2{
    color:#0b5394;
    font-family: Georgia;
}

h3{
    color:#0b5394;
    font-family: Georgia;
}

nav{
    border-width: 5px 1px;
    border-color: white;
    
}

p, ul{
    font-family:Georgia
}

.type_cmd{
    color:#0b5394;
}
